USE [Broker]
GO
/****** Object:  Table [dbo].[Broker]    Script Date: 19.06.2022 23:01:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Broker](
	[IDBroker] [varchar](5) NOT NULL,
	[NameOfBorker] [varchar](30) NULL,
	[AgeOFBroker] [int] NULL,
	[CountClinets] [int] NULL,
 CONSTRAINT [PK_Broker] PRIMARY KEY CLUSTERED 
(
	[IDBroker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BrokerageAccount]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrokerageAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDName] [varchar](7) NULL,
	[Description] [varchar](max) NULL,
	[IDBroker] [varchar](5) NULL,
	[IDInvestor] [varchar](15) NULL,
	[CodeSecurities] [varchar](10) NULL,
	[Money] [float] NULL,
	[CostSecurities] [float] NULL,
	[CountSecurities] [int] NULL,
 CONSTRAINT [PK_BrokerageAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[IDCompany] [varchar](5) NOT NULL,
	[IDSegment] [varchar](3) NULL,
	[CountryCode] [varchar](3) NULL,
	[NameOfCompany] [varchar](30) NULL,
	[AboutCompany] [varchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[IDCompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [varchar](3) NOT NULL,
	[NameOFCountry] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepthOfMarket]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepthOfMarket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDRequest] [int] NULL,
	[IDPlacement] [int] NULL,
	[IDEmployee] [varchar](15) NULL,
	[IDBrokerageAccount] [int] NULL,
	[Cost] [decimal](5, 2) NULL,
	[CountOFPurchase] [decimal](5, 2) NULL,
	[Status] [varchar](10) NULL,
 CONSTRAINT [PK_DepthOFMarket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[IDEmployee] [varchar](15) NOT NULL,
	[FUllName] [varchar](30) NULL,
	[IDBroker] [varchar](5) NULL,
	[DateOfBirth] [date] NULL,
	[Citizeship] [varchar](3) NULL,
	[Password] [varchar](35) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Investor]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Investor](
	[IDInvestor] [varchar](15) NOT NULL,
	[Citizenship] [varchar](3) NULL,
	[FullName] [varchar](30) NULL,
	[BankDetails] [varchar](16) NULL,
	[Email] [varchar](30) NULL,
	[Password] [varchar](35) NULL,
	[DateOFBirth] [date] NULL,
 CONSTRAINT [PK_Investor] PRIMARY KEY CLUSTERED 
(
	[IDInvestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Issuer]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Issuer](
	[IDIssuer] [varchar](5) NOT NULL,
	[IDCompany] [varchar](5) NULL,
	[CountPublish] [int] NULL,
	[DateOFRegist] [date] NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Issuer] PRIMARY KEY CLUSTERED 
(
	[IDIssuer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Placement]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Placement](
	[IDPlacement] [int] IDENTITY(1,1) NOT NULL,
	[IDIssuer] [varchar](5) NULL,
	[CodeSecurities] [varchar](10) NULL,
	[TimePlacement] [date] NULL,
	[Cost] [float] NULL,
	[CountPurchase] [int] NULL,
 CONSTRAINT [PK_Placement] PRIMARY KEY CLUSTERED 
(
	[IDPlacement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Request]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Request](
	[IDRequest] [int] IDENTITY(1,1) NOT NULL,
	[IDInvestor] [varchar](15) NULL,
	[CodeSecurities] [varchar](10) NULL,
	[Cost] [float] NULL,
	[CountPurchase] [float] NULL,
	[CodeRequest] [int] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[IDRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Securities]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Securities](
	[CodeSecurities] [varchar](10) NOT NULL,
	[Type] [varchar](1) NULL,
	[Denomination] [float] NULL,
	[CurrentCost] [float] NULL,
	[EPS] [float] NULL,
 CONSTRAINT [PK_Securities] PRIMARY KEY CLUSTERED 
(
	[CodeSecurities] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Segment]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Segment](
	[IDSegment] [varchar](3) NOT NULL,
	[NameSegment] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Segment] PRIMARY KEY CLUSTERED 
(
	[IDSegment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeRequest]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeRequest](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NULL,
 CONSTRAINT [PK_TypeRequest] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeSecurities]    Script Date: 19.06.2022 23:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeSecurities](
	[Type] [varchar](1) NOT NULL,
	[Description] [varchar](30) NULL,
 CONSTRAINT [PK_TypeSecurities] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Broker] ([IDBroker], [NameOfBorker], [AgeOFBroker], [CountClinets]) VALUES (N'SBRBR', N'Sber Broker', 21, 12000)
INSERT [dbo].[Broker] ([IDBroker], [NameOfBorker], [AgeOFBroker], [CountClinets]) VALUES (N'TSPBR', N'Tinkoff Broker', 15, 50000)
INSERT [dbo].[Broker] ([IDBroker], [NameOfBorker], [AgeOFBroker], [CountClinets]) VALUES (N'VTBBR', N'VTB Broker', 22, 23000)
GO
SET IDENTITY_INSERT [dbo].[BrokerageAccount] ON 

INSERT [dbo].[BrokerageAccount] ([ID], [IDName], [Description], [IDBroker], [IDInvestor], [CodeSecurities], [Money], [CostSecurities], [CountSecurities]) VALUES (1, N'FIN1', N'Life in dividends', N'SBRBR', N'МихRus', N'AAPLSHARES', 250, 450, 3)
INSERT [dbo].[BrokerageAccount] ([ID], [IDName], [Description], [IDBroker], [IDInvestor], [CodeSecurities], [Money], [CostSecurities], [CountSecurities]) VALUES (2, N'FIN1', NULL, N'SBRBR', N'МихRus', N'SPBESHARES', 0, 30, 2)
SET IDENTITY_INSERT [dbo].[BrokerageAccount] OFF
GO
INSERT [dbo].[Company] ([IDCompany], [IDSegment], [CountryCode], [NameOfCompany], [AboutCompany]) VALUES (N'ADID', N'RET', N'GER', N'Adidas', N'Popular riteil of clother')
INSERT [dbo].[Company] ([IDCompany], [IDSegment], [CountryCode], [NameOfCompany], [AboutCompany]) VALUES (N'APPL', N'IT', N'USA', N'Apple Itc.', N'Popular developer device and soft')
INSERT [dbo].[Company] ([IDCompany], [IDSegment], [CountryCode], [NameOfCompany], [AboutCompany]) VALUES (N'SBER', N'BAN', N'RUS', N'Sber', N'First bank in Russsia, biggest')
GO
INSERT [dbo].[Country] ([CountryCode], [NameOFCountry]) VALUES (N'GER', N'Germany')
INSERT [dbo].[Country] ([CountryCode], [NameOFCountry]) VALUES (N'RUS', N'Russia')
INSERT [dbo].[Country] ([CountryCode], [NameOFCountry]) VALUES (N'UK', N'United Kingdom')
GO
SET IDENTITY_INSERT [dbo].[DepthOfMarket] ON 

INSERT [dbo].[DepthOfMarket] ([Id], [IDRequest], [IDPlacement], [IDEmployee], [IDBrokerageAccount], [Cost], [CountOFPurchase], [Status]) VALUES (1, 1, 3, N'daniil2830', 1, CAST(303.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(5, 2)), N'succsess')
SET IDENTITY_INSERT [dbo].[DepthOfMarket] OFF
GO
INSERT [dbo].[Employee] ([IDEmployee], [FUllName], [IDBroker], [DateOfBirth], [Citizeship], [Password]) VALUES (N'alena2550', N'А.С. Чичваркина', N'SBRBR', CAST(N'1996-01-27' AS Date), N'RUS', N'e58c81476')
INSERT [dbo].[Employee] ([IDEmployee], [FUllName], [IDBroker], [DateOfBirth], [Citizeship], [Password]) VALUES (N'arkadiy20', N'А.С. Азаренков', N'TSPBR', CAST(N'1990-02-23' AS Date), N'RUS', N'fb15bedc2')
INSERT [dbo].[Employee] ([IDEmployee], [FUllName], [IDBroker], [DateOfBirth], [Citizeship], [Password]) VALUES (N'daniil2830', N'Д.Р. Веселовский', N'VTBBR', CAST(N'1985-05-27' AS Date), N'RUS', N'1efb38674')
GO
INSERT [dbo].[Investor] ([IDInvestor], [Citizenship], [FullName], [BankDetails], [Email], [Password], [DateOFBirth]) VALUES (N'КарGerm', N'GER', N'М.В.Карбердян', N'4254858209872346', N'cute@gmail.com', N'baby', CAST(N'2002-06-27' AS Date))
INSERT [dbo].[Investor] ([IDInvestor], [Citizenship], [FullName], [BankDetails], [Email], [Password], [DateOFBirth]) VALUES (N'МихRus', N'USA', N'Д. М. Михайлов', N'4256001298764530', N'king@gmail.com', N'dragonfly', CAST(N'2002-02-11' AS Date))
GO
INSERT [dbo].[Issuer] ([IDIssuer], [IDCompany], [CountPublish], [DateOFRegist], [Status]) VALUES (N'AAPL', N'APPL', 135665600, CAST(N'1985-01-01' AS Date), N'American blue chips')
INSERT [dbo].[Issuer] ([IDIssuer], [IDCompany], [CountPublish], [DateOFRegist], [Status]) VALUES (N'ADIDS', N'ADID', 3000000, CAST(N'1990-09-09' AS Date), N'German Blue chips')
INSERT [dbo].[Issuer] ([IDIssuer], [IDCompany], [CountPublish], [DateOFRegist], [Status]) VALUES (N'SBERP', N'SBER', 2000000, CAST(N'2002-01-01' AS Date), N'Russian Blue chips')
GO
SET IDENTITY_INSERT [dbo].[Placement] ON 

INSERT [dbo].[Placement] ([IDPlacement], [IDIssuer], [CodeSecurities], [TimePlacement], [Cost], [CountPurchase]) VALUES (1, N'SPBE', N'SPBESHARES', CAST(N'2021-12-13' AS Date), 1000, 1)
INSERT [dbo].[Placement] ([IDPlacement], [IDIssuer], [CodeSecurities], [TimePlacement], [Cost], [CountPurchase]) VALUES (2, N'SBERP', N'SBERPSHARE', CAST(N'2021-12-14' AS Date), 280, 10)
INSERT [dbo].[Placement] ([IDPlacement], [IDIssuer], [CodeSecurities], [TimePlacement], [Cost], [CountPurchase]) VALUES (3, N'AAPL', N'AAPLSHARES', CAST(N'2021-12-11' AS Date), 303, 2)
SET IDENTITY_INSERT [dbo].[Placement] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([IDRequest], [IDInvestor], [CodeSecurities], [Cost], [CountPurchase], [CodeRequest]) VALUES (1, N'МихRus', N'AAPLSHARES', 303, 2, 1)
INSERT [dbo].[Request] ([IDRequest], [IDInvestor], [CodeSecurities], [Cost], [CountPurchase], [CodeRequest]) VALUES (2, N'МихRus', N'SPBESHARES', 1050, 1, 2)
INSERT [dbo].[Request] ([IDRequest], [IDInvestor], [CodeSecurities], [Cost], [CountPurchase], [CodeRequest]) VALUES (4, N'МихRus', N'SBERPSHARE', 4, 10, 1)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
INSERT [dbo].[Securities] ([CodeSecurities], [Type], [Denomination], [CurrentCost], [EPS]) VALUES (N'AAPLSHARES', N'D', 1, 150, 7)
INSERT [dbo].[Securities] ([CodeSecurities], [Type], [Denomination], [CurrentCost], [EPS]) VALUES (N'ADIDSBONDS', N'C', 1000, 1067, 10)
INSERT [dbo].[Securities] ([CodeSecurities], [Type], [Denomination], [CurrentCost], [EPS]) VALUES (N'SBERPSHARE', N'D', 0.0001, 4, 5)
GO
INSERT [dbo].[Segment] ([IDSegment], [NameSegment]) VALUES (N'BAN', N'Banks')
INSERT [dbo].[Segment] ([IDSegment], [NameSegment]) VALUES (N'FIN', N'Finance')
INSERT [dbo].[Segment] ([IDSegment], [NameSegment]) VALUES (N'IT', N'Information Technology ')
GO
SET IDENTITY_INSERT [dbo].[TypeRequest] ON 

INSERT [dbo].[TypeRequest] ([Code], [Name]) VALUES (1, N'Purchase')
INSERT [dbo].[TypeRequest] ([Code], [Name]) VALUES (2, N'Sale')
SET IDENTITY_INSERT [dbo].[TypeRequest] OFF
GO
INSERT [dbo].[TypeSecurities] ([Type], [Description]) VALUES (N'C', N'Company bonds')
INSERT [dbo].[TypeSecurities] ([Type], [Description]) VALUES (N'D', N'Shares ,dividends')
INSERT [dbo].[TypeSecurities] ([Type], [Description]) VALUES (N'F', N'Federal bonds')
GO
ALTER TABLE [dbo].[BrokerageAccount]  WITH CHECK ADD  CONSTRAINT [FK_BrokerageAccount_Broker] FOREIGN KEY([IDBroker])
REFERENCES [dbo].[Broker] ([IDBroker])
GO
ALTER TABLE [dbo].[BrokerageAccount] CHECK CONSTRAINT [FK_BrokerageAccount_Broker]
GO
ALTER TABLE [dbo].[BrokerageAccount]  WITH CHECK ADD  CONSTRAINT [FK_BrokerageAccount_Investor] FOREIGN KEY([IDInvestor])
REFERENCES [dbo].[Investor] ([IDInvestor])
GO
ALTER TABLE [dbo].[BrokerageAccount] CHECK CONSTRAINT [FK_BrokerageAccount_Investor]
GO
ALTER TABLE [dbo].[BrokerageAccount]  WITH CHECK ADD  CONSTRAINT [FK_BrokerageAccount_Securities] FOREIGN KEY([CodeSecurities])
REFERENCES [dbo].[Securities] ([CodeSecurities])
GO
ALTER TABLE [dbo].[BrokerageAccount] CHECK CONSTRAINT [FK_BrokerageAccount_Securities]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Comapny_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Comapny_Country]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Comapny_Segment] FOREIGN KEY([IDSegment])
REFERENCES [dbo].[Segment] ([IDSegment])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Comapny_Segment]
GO
ALTER TABLE [dbo].[DepthOfMarket]  WITH CHECK ADD  CONSTRAINT [FK_DepthOFMarket_BrokerageAccount] FOREIGN KEY([IDBrokerageAccount])
REFERENCES [dbo].[BrokerageAccount] ([ID])
GO
ALTER TABLE [dbo].[DepthOfMarket] CHECK CONSTRAINT [FK_DepthOFMarket_BrokerageAccount]
GO
ALTER TABLE [dbo].[DepthOfMarket]  WITH CHECK ADD  CONSTRAINT [FK_DepthOFMarket_Placement] FOREIGN KEY([IDPlacement])
REFERENCES [dbo].[Placement] ([IDPlacement])
GO
ALTER TABLE [dbo].[DepthOfMarket] CHECK CONSTRAINT [FK_DepthOFMarket_Placement]
GO
ALTER TABLE [dbo].[DepthOfMarket]  WITH CHECK ADD  CONSTRAINT [FK_DepthOFMarket_Request] FOREIGN KEY([IDRequest])
REFERENCES [dbo].[Request] ([IDRequest])
GO
ALTER TABLE [dbo].[DepthOfMarket] CHECK CONSTRAINT [FK_DepthOFMarket_Request]
GO
ALTER TABLE [dbo].[DepthOfMarket]  WITH CHECK ADD  CONSTRAINT [FK_DepthOFMarketEmployee] FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[Employee] ([IDEmployee])
GO
ALTER TABLE [dbo].[DepthOfMarket] CHECK CONSTRAINT [FK_DepthOFMarketEmployee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Broker] FOREIGN KEY([IDBroker])
REFERENCES [dbo].[Broker] ([IDBroker])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Broker]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Country] FOREIGN KEY([Citizeship])
REFERENCES [dbo].[Country] ([CountryCode])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Country]
GO
ALTER TABLE [dbo].[Investor]  WITH CHECK ADD  CONSTRAINT [FK_Investor_Country] FOREIGN KEY([Citizenship])
REFERENCES [dbo].[Country] ([CountryCode])
GO
ALTER TABLE [dbo].[Investor] CHECK CONSTRAINT [FK_Investor_Country]
GO
ALTER TABLE [dbo].[Issuer]  WITH CHECK ADD  CONSTRAINT [FK_Issuer_Company] FOREIGN KEY([IDCompany])
REFERENCES [dbo].[Company] ([IDCompany])
GO
ALTER TABLE [dbo].[Issuer] CHECK CONSTRAINT [FK_Issuer_Company]
GO
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_Issuer] FOREIGN KEY([IDIssuer])
REFERENCES [dbo].[Issuer] ([IDIssuer])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_Issuer]
GO
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_Securities] FOREIGN KEY([CodeSecurities])
REFERENCES [dbo].[Securities] ([CodeSecurities])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_Securities]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Investor] FOREIGN KEY([IDInvestor])
REFERENCES [dbo].[Investor] ([IDInvestor])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Investor]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Securities] FOREIGN KEY([CodeSecurities])
REFERENCES [dbo].[Securities] ([CodeSecurities])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Securities]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_TypeRequest] FOREIGN KEY([CodeRequest])
REFERENCES [dbo].[TypeRequest] ([Code])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_TypeRequest]
GO
ALTER TABLE [dbo].[Securities]  WITH CHECK ADD  CONSTRAINT [FK_Securities_Type] FOREIGN KEY([Type])
REFERENCES [dbo].[TypeSecurities] ([Type])
GO
ALTER TABLE [dbo].[Securities] CHECK CONSTRAINT [FK_Securities_Type]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Above18] CHECK  ((datepart(year,datepart(year,getdate())-datepart(year,[DateOfBirth]))>=(18)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_Above18]
GO
ALTER TABLE [dbo].[Investor]  WITH CHECK ADD  CONSTRAINT [CK_BankDetails] CHECK  ((len([BankDetails])=(16) OR len([BankDetails])=(20)))
GO
ALTER TABLE [dbo].[Investor] CHECK CONSTRAINT [CK_BankDetails]
GO
ALTER TABLE [dbo].[Investor]  WITH CHECK ADD  CONSTRAINT [CK_Investor_Above18] CHECK  ((datepart(year,datepart(year,getdate())-datepart(year,[DateOfBirth]))>=(18)))
GO
ALTER TABLE [dbo].[Investor] CHECK CONSTRAINT [CK_Investor_Above18]
GO
/****** Object:  Statistic [PK_Broker]    Script Date: 19.06.2022 23:02:00 ******/
UPDATE STATISTICS [dbo].[Broker]([PK_Broker]) WITH STATS_STREAM = 0x0100000001000000000000000000000021F1C7E50000000059020000000000001902000000000000A7030000A7000000050000000000000015D000000000000007000000AAC84101FEAD0000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000A04000004040000000000000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000480000000000000095000000000000009D00000000000000A50000000000000010000000000000002C00000000000000300010000000803F000000000000803F04000001001C005342524252300010000000803F0000803F0000803F04000001001C005654424252FF01000000000000000300000003000000280000002800000000000000000000000F0000005342524252545350425256544242520400000040000000008105000000810505000001050A00000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_160F4887]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_160F4887] ON [dbo].[BrokerageAccount]([IDName]) WITH STATS_STREAM = 0x010000000100000000000000000000008ED6F350000000001F02000000000000DF01000000000000A7020000A7000000070000000000000015D0000000000000070000009E92EF00FFAD000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000804000000040000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B0000000000000008000000000000003000100000000040000000000000803F04000001001B0046494E31FF01000000000000000200000001000000280000002800000000000000000000000400000046494E3102000000400000000002040000000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_160F4887]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000005_160F4887] ON [dbo].[BrokerageAccount]([IDInvestor]) WITH STATS_STREAM = 0x0100000001000000000000000000000009D3C450000000002302000000000000E301000000000000A7020000A70000000F0000000000000015D0000002000000070000004DF41901FFAD000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C04000000040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F0000000000000008000000000000003000100000000040000000000000803F04000001001D00CCE8F5527573FF010000000000000002000000010000002800000028000000000000000000000006000000CCE8F552757302000000400000000002060000000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_160F4887]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000006_160F4887] ON [dbo].[BrokerageAccount]([CodeSecurities]) WITH STATS_STREAM = 0x01000000010000000000000000000000A502F79F0000000063020000000000002302000000000000A7020000A70000000A0000000000000015D0000000000000070000006DFAF500FFAD000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000204100000040000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000052000000000000009F00000000000000A700000000000000AF0000000000000010000000000000003100000000000000300010000000803F000000000000803F040000010021004141504C534841524553300010000000803F000000000000803F0400000100210053504245534841524553FF0100000000000000020000000200000028000000280000000000000000000000140000004141504C53484152455353504245534841524553030000004000000000810A000000010A0A00000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_BrokerageAccount]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[BrokerageAccount]([PK_BrokerageAccount]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_38996AB5]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_38996AB5] ON [dbo].[Company]([IDSegment]) WITH STATS_STREAM = 0x01000000010000000000000000000000C77FBC000000000099020000000000005902000000000000A7020000A7000000030000000000000015D000000000000007000000C3AB4101FFAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000030400000804000000000000030400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008700000000000000D500000000000000DD00000000000000E50000000000000020000000000000003A0000000000000054000000000000006D00000000000000300010000000803F000000000000803F04000001001A0042414E300010000000803F000000000000803F04000001001A0046494E300010000000803F000000000000803F040000010019004954300010000000803F000000000000803F04000001001A00524554FF01000000000000000400000004000000280000002800000000000000000000000B00000042414E46494E495452455405000000400000000081030000008103030000810206000001030800000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_38996AB5]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000004_38996AB5] ON [dbo].[Company]([NameOfCompany]) WITH STATS_STREAM = 0x01000000010000000000000000000000FF7CFF0C00000000C5020000000000008502000000000000A7020000A70000001E0000000000000015D000000000000007000000C403610102AE000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000000000E84000008040000000000000E840000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000990000000000000001010000000000000901000000000000110100000000000020000000000000003D000000000000005E000000000000007900000000000000300010000000803F000000000000803F04000001001D00416469646173300010000000803F000000000000803F040000010021004170706C65204974632E300010000000803F000000000000803F04000001001B0053626572300010000000803F000000000000803F04000001002000537062204269726765FF01000000000000000400000004000000280000002800000000000000000000001B00000041646964617370706C65204974632E536265727062204269726765070000004000000000C0010000008105010000010906000040010F0000810310000001081300000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Company]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Company]([PK_Company]) WITH STATS_STREAM = 0x010000000100000000000000000000007C9BE5CF00000000AD020000000000006D02000000000000A7030000A7000000050000000000000015D000000000000007000000EECA4F01FEAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000088400000804000000000000088400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008D00000000000000E900000000000000F100000000000000F90000000000000020000000000000003B0000000000000056000000000000007100000000000000300010000000803F000000000000803F04000001001B0041444944300010000000803F000000000000803F04000001001B004150504C300010000000803F000000000000803F04000001001B0053424552300010000000803F000000000000803F04000001001C005350424252FF01000000000000000400000004000000280000002800000000000000000000000F0000004144494450504C5342455250424252070000004000000000C001000000810301000001030400004001070000810308000001040B00000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_36B12243]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[Country]([NameOFCountry]) WITH STATS_STREAM = 0x010000000100000000000000000000002F22C40E00000000E702000000000000A702000000000000A7030000A70000001E0000000000000015D00000000000000700000020645F01FFAD000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000004C41000080400000000000004C41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000AF0000000000000023010000000000002B01000000000000330100000000000020000000000000003E000000000000005B000000000000008000000000000000300010000000803F000000000000803F04000001001E004765726D616E79300010000000803F000000000000803F04000001001D00527573736961300010000000803F000000000000803F04000001002500556E69746564204B696E67646F6D300010000000803F000000000000803F04000001002F00556E6974656420537461746573204F6620416D6572696361FF01000000000000000400000004000000280000002800000000000000000000002C0000004765726D616E79527573736961556E69746564204B696E67646F6D537461746573204F6620416D65726963610600000040000000008107000000810607000040070D0000810714000001111B00000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Country]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Country]([PK_Country]) WITH STATS_STREAM = 0x010000000100000000000000000000009AB8FD80000000009D020000000000005D02000000000000A7030000A7000000030000000000000015D000000000000007000000A7C84101FEAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000030400000804000000000000030400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008700000000000000D900000000000000E100000000000000E90000000000000020000000000000003A0000000000000054000000000000006D00000000000000300010000000803F000000000000803F04000001001A00474552300010000000803F000000000000803F04000001001A00525553300010000000803F000000000000803F04000001001900554B300010000000803F000000000000803F04000001001A00555341FF01000000000000000400000004000000280000002800000000000000000000000A000000474552525553554B5341060000004000000000810300000081030300004001060000810107000001020800000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_DepthOFMarket]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[DepthOfMarket]([PK_DepthOFMarket]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000006_3E52440B]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000006_3E52440B] ON [dbo].[Employee]([Password]) WITH STATS_STREAM = 0x010000000100000000000000000000009208CE450000000095020000000000005502000000000000A7020000A7000000230000000000000015D0000000000000070000007B7B510100AE00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000010410000404000000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000007800000000000000D100000000000000D900000000000000E100000000000000180000000000000038000000000000005800000000000000300010000000803F000000000000803F04000001002000316566623338363734300010000000803F000000000000803F04000001002000653538633831343736300010000000803F000000000000803F04000001002000666231356265646332FF01000000000000000300000003000000280000002800000000000000000000001B0000003165666233383637346535386338313437366662313562656463320400000040000000008109000000810909000001091200000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Employee]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Employee]([PK_Employee]) WITH STATS_STREAM = 0x010000000100000000000000000000003DEC1F11000000009B020000000000005B02000000000000A7030000A70000000F0000000000000015D000000000000007000000AABF5501FEAD00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000555515410000404000000000555515410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000007900000000000000D700000000000000DF00000000000000E700000000000000180000000000000038000000000000005800000000000000300010000000803F000000000000803F04000001002000616C656E6132353530300010000000803F000000000000803F0400000100200061726B616469793230300010000000803F000000000000803F0400000100210064616E69696C32383330FF01000000000000000300000003000000280000002800000000000000000000001B000000616C656E6132353530726B61646979323064616E69696C32383330050000004000000000C00100000081080100000108090000010A1100000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_4316F928] ON [dbo].[Investor]([Citizenship]) WITH STATS_STREAM = 0x01000000010000000000000000000000C1A4012A000000001D02000000000000DD01000000000000A7020000A7000000030000000000000015D00000000000000700000099644F01FFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040400000803F000000000000404000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000022000000000000005900000000000000610000000000000069000000000000000800000000000000300010000000803F000000000000803F04000001001A00525553FF01000000000000000100000001000000280000002800000000000000000000000300000052555302000000400000000001030000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000003_4316F928] ON [dbo].[Investor]([FullName]) WITH STATS_STREAM = 0x01000000010000000000000000000000BA6E7BA2000000003302000000000000F301000000000000A7020000A70000001E0000000000000015D000000000000007000000DE2A8101FFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002D000000000000006F0000000000000077000000000000007F000000000000000800000000000000300010000000803F000000000000803F04000001002500C42E20C02E20CCE8F5E0E9EBEEE2FF01000000000000000100000001000000280000002800000000000000000000000E000000C42E20C02E20CCE8F5E0E9EBEEE2020000004000000000010E0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000004_4316F928] ON [dbo].[Investor]([BankDetails]) WITH STATS_STREAM = 0x0100000001000000000000000000000099128273000000007E020000000000003E02000000000000A702295FA7000000100000000000000015D000000000000007000000D6CE3B0103AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000080410000004000000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005E00000000000000BA00000000000000C200000000000000CA0000000000000010000000000000003700000000000000300010000000803F000000000000803F0400000100270034323336373635333438393132333835300010000000803F000000000000803F0400000100270034323536303031323938373634353330FF01000000000000000200000002000000280000002800000000000000000000001E0000003432333637363533343839313233383535363030313239383736343533300400000040000000004002000000810E020000010E1000000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000005_4316F928] ON [dbo].[Investor]([Email]) WITH STATS_STREAM = 0x01000000010000000000000000000000A91ACD4E000000003102000000000000F101000000000000A7020000A70000001E0000000000000015D00000000000000700000050C4E000FFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000050410000803F00000000000050410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002C000000000000006D0000000000000075000000000000007D000000000000000800000000000000300010000000803F000000000000803F04000001002400676F6440676D61696C2E636F6DFF01000000000000000100000001000000280000002800000000000000000000000D000000676F6440676D61696C2E636F6D020000004000000000010D0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000006_4316F928] ON [dbo].[Investor]([Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000F3119BAB000000002902000000000000E901000000000000A7020000A7000000230000000000000015D00000000000000700000066C4E000FFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010410000803F0000000000001041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000280000000000000065000000000000006D0000000000000075000000000000000800000000000000300010000000803F000000000000803F04000001002000647261676F6E666C79FF010000000000000001000000010000002800000028000000000000000000000009000000647261676F6E666C7902000000400000000001090000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_4316F928]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000007_4316F928] ON [dbo].[Investor]([DateOFBirth]) WITH STATS_STREAM = 0x01000000010000000000000000000000F956D25300000000F801000000000000B801000000000000280200002800000003000A000000000000000000C401000007000000D7CE3B0103AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000013000000000040400000004000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003C0000000000000044000000000000004C0000000000000010000000000000002600000000000000100013000000803F000000000000803F69230B040000100013000000803F000000000000803F0B270B04000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Investor]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Investor]([PK_Investor]) WITH STATS_STREAM = 0x0100000001000000000000000000000036FA7DB1000000002302000000000000E301000000000000A7030000A70000000F0000000000000015D000000000000007000000A5D14F01FEAD000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001001D00CCE8F5527573FF010000000000000001000000010000002800000028000000000000000000000006000000CCE8F552757302000000400000000001060000000001000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_47DBAE45]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_47DBAE45] ON [dbo].[Issuer]([IDCompany]) WITH STATS_STREAM = 0x010000000100000000000000000000009310C92100000000AD020000000000006D02000000000000A7020000A7000000050000000000000015D000000000000007000000B43AF700FFAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000088400000804000000000000088400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008D00000000000000E900000000000000F100000000000000F90000000000000020000000000000003B0000000000000056000000000000007100000000000000300010000000803F000000000000803F04000001001B0041444944300010000000803F000000000000803F04000001001B004150504C300010000000803F000000000000803F04000001001B0053424552300010000000803F000000000000803F04000001001C005350424252FF01000000000000000400000004000000280000002800000000000000000000000F0000004144494450504C5342455250424252070000004000000000C001000000810301000001030400004001070000810308000001040B00000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Issuer]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Issuer]([PK_Issuer]) WITH STATS_STREAM = 0x01000000010000000000000000000000043FA27100000000AF020000000000006F02000000000000A7030000A7000000050000000000000015D00000000000000700000077ED5101FEAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000090400000804000000000000090400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008E00000000000000EB00000000000000F300000000000000FB0000000000000020000000000000003B0000000000000057000000000000007300000000000000300010000000803F000000000000803F04000001001B004141504C300010000000803F000000000000803F04000001001C004144494453300010000000803F000000000000803F04000001001C005342455250300010000000803F000000000000803F04000001001B0053504245FF0100000000000000040000000400000028000000280000000000000000000000100000004141504C444944535342455250504245070000004000000000C001000000810301000001040400004001080000810409000001030D00000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_498EEC8D]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_498EEC8D] ON [dbo].[Placement]([IDIssuer]) WITH STATS_STREAM = 0x01000000010000000000000000000000172AF9B200000000AF020000000000006F02000000000000A7020000A7000000050000000000000015D000000400000007000000A93AF700FFAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000090400000804000000000000090400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008E00000000000000EB00000000000000F300000000000000FB0000000000000020000000000000003B0000000000000057000000000000007300000000000000300010000000803F000000000000803F04000001001B004141504C300010000000803F000000000000803F04000001001C004144494453300010000000803F000000000000803F04000001001C005342455250300010000000803F000000000000803F04000001001B0053504245FF0100000000000000040000000400000028000000280000000000000000000000100000004141504C444944535342455250504245070000004000000000C001000000810301000001040400004001080000810409000001030D00000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_498EEC8D]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000003_498EEC8D] ON [dbo].[Placement]([CodeSecurities]) WITH STATS_STREAM = 0x010000000100000000000000000000007E8C77DF00000000DB020000000000009B02000000000000A7020000A70000000A0000000000000015D0000000000000070000001067F600FFAD000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000002041000080400000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000A40000000000000017010000000000001F0100000000000027010000000000002000000000000000410000000000000062000000000000008300000000000000300010000000803F000000000000803F040000010021004141504C534841524553300010000000803F000000000000803F040000010021004144494453424F4E4453300010000000803F000000000000803F0400000100210053424552505348415245300010000000803F000000000000803F0400000100210053504245534841524553FF0100000000000000040000000400000028000000280000000000000000000000260000004141504C53484152455344494453424F4E445353424552505348415245504245534841524553070000004000000000C001000000810901000001090A00004001130000810914000001091D00000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Placement]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Placement]([PK_Placement]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_31B762FC]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_31B762FC] ON [dbo].[Request]([IDInvestor]) WITH STATS_STREAM = 0x010000000100000000000000000000006B473394000000002302000000000000E301000000000000A7020000A70000000F0000000000000015D0000000000000070000000CCF3B0103AE000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C04000000040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F0000000000000008000000000000003000100000000040000000000000803F04000001001D00CCE8F5527573FF010000000000000002000000010000002800000028000000000000000000000006000000CCE8F552757302000000400000000002060000000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Request]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Request]([PK_Request]) WITH STATS_STREAM = 0x010000000100000000000000000000003C3128CC00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000A8BF5501FEAD000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0E6E26BF]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_0E6E26BF] ON [dbo].[Securities]([Type]) WITH STATS_STREAM = 0x010000000100000000000000000000009433F1CB0000000065020000000000002502000000000000A70246A7A7000000010000000000000015D00000C401000007000000522AFA00FFAD00000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000803F00008040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006000000000000000A100000000000000A900000000000000B100000000000000180000000000000030000000000000004800000000000000300010000000803F000000000000803F04000001001800433000100000000040000000000000803F0400000100180044300010000000803F000000000000803F0400000100180053FF0100000000000000040000000300000028000000280000000000000000000000030000004344530400000040000000008101000000820101000001010200000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_0E6E26BF]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000003_0E6E26BF] ON [dbo].[Securities]([Denomination]) WITH STATS_STREAM = 0x01000000010000000000000000000000B6DD6CDD000000002502000000000000E5010000000000003E0200003E000000080035000000000000000000FFFFFFFF070000005C2AFA00FFAD00000400000000000000040000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001800000000000041000080400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000690000000000000071000000000000007900000000000000180000000000000033000000000000004E00000000000000100018000000803F000000000000803F7B14AE47E17A843F040000100018000000803F000000000000803F000000000000F03F0400001000180000000040000000000000803F0000000000408F4004000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_0E6E26BF]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000004_0E6E26BF] ON [dbo].[Securities]([CurrentCost]) WITH STATS_STREAM = 0x01000000010000000000000000000000C14F820100000000480200000000000008020000000000003E0200003E00000008003500000000000000000000000000070000005B2AFA00FFAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000018000000000000410000804000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000008C0000000000000094000000000000009C0000000000000020000000000000003B0000000000000056000000000000007100000000000000100018000000803F000000000000803F0000000000C06240040000100018000000803F000000000000803F0000000000807140040000100018000000803F000000000000803F0000000000E88F40040000100018000000803F000000000000803F0000000000AC904004000004000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_0E6E26BF]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000005_0E6E26BF] ON [dbo].[Securities]([EPS]) WITH STATS_STREAM = 0x01000000010000000000000000000000C7D47BD000000000480200000000000008020000000000003E0200003E0000000800350000000000000000000000000007000000582AFA00FFAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000018000000000000410000804000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000008C0000000000000094000000000000009C0000000000000020000000000000003B0000000000000056000000000000007100000000000000100018000000803F000000000000803F0000000000001440040000100018000000803F000000000000803F0000000000001C40040000100018000000803F000000000000803F0000000000002440040000100018000000803F000000000000803F000000000000354004000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Securities]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Securities]([PK_Securities]) WITH STATS_STREAM = 0x01000000010000000000000000000000DAA8F38C00000000DB020000000000009B02000000000000A7030000A70000000A0000000000000015D000000000000007000000B0D14F01FEAD000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000002041000080400000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000A40000000000000017010000000000001F0100000000000027010000000000002000000000000000410000000000000062000000000000008300000000000000300010000000803F000000000000803F040000010021004141504C534841524553300010000000803F000000000000803F040000010021004144494453424F4E4453300010000000803F000000000000803F0400000100210053424552505348415245300010000000803F000000000000803F0400000100210053504245534841524553FF0100000000000000040000000400000028000000280000000000000000000000260000004141504C53484152455344494453424F4E445353424552505348415245504245534841524553070000004000000000C001000000810901000001090A00004001130000810914000001091D00000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Segment]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[Segment]([PK_Segment]) WITH STATS_STREAM = 0x0100000001000000000000000000000074698CD50000000099020000000000005902000000000000A7030000A7000000030000000000000015D000000000000007000000B4C84101FEAD000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000030400000804000000000000030400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008700000000000000D500000000000000DD00000000000000E50000000000000020000000000000003A0000000000000054000000000000006D00000000000000300010000000803F000000000000803F04000001001A0042414E300010000000803F000000000000803F04000001001A0046494E300010000000803F000000000000803F040000010019004954300010000000803F000000000000803F04000001001A00524554FF01000000000000000400000004000000280000002800000000000000000000000B00000042414E46494E495452455405000000400000000081030000008103030000810206000001030800000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_TypeRequest]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[TypeRequest]([PK_TypeRequest]) WITH STATS_STREAM = 0x01000000010000000000000000000000C164939D00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000078E5101FEAD000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_4AB81AF0]    Script Date: 19.06.2022 23:02:02 ******/
CREATE STATISTICS [_WA_Sys_00000002_4AB81AF0] ON [dbo].[TypeSecurities]([Description]) WITH STATS_STREAM = 0x0100000001000000000000000000000041B2B5B600000000F202000000000000B202000000000000A7020000A70000001E0000000000000015D000000000000007000000B8443A0100AE000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000006441000080400000000000006441000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000B5000000000000002E0100000000000036010000000000003E010000000000002000000000000000440000000000000068000000000000009000000000000000300010000000803F000000000000803F04000001002400436F6D70616E7920626F6E6473300010000000803F000000000000803F040000010024004665646572616C20626F6E6473300010000000803F000000000000803F04000001002800536861726573202C6469766964656E6473300010000000803F000000000000803F04000001002500536861726573202C73746F6E6B73FF010000000000000004000000040000002800000028000000000000000000000031000000436F6D70616E7920626F6E64734665646572616C20626F6E6473536861726573202C6469766964656E647373746F6E6B73060000004000000000810D000000810D0D000040081A0000810922000001062B00000004000000000000000000000000000000
GO
/****** Object:  Statistic [PK_TypeSecurities]    Script Date: 19.06.2022 23:02:02 ******/
UPDATE STATISTICS [dbo].[TypeSecurities]([PK_TypeSecurities]) WITH STATS_STREAM = 0x0100000001000000000000000000000048082935000000008B020000000000004B02000000000000A7030000A7000000010000000000000015D00000000000000700000056844201FEAD000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000000000803F00008040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008000000000000000C700000000000000CF00000000000000D7000000000000002000000000000000380000000000000050000000000000006800000000000000300010000000803F000000000000803F0400000100180043300010000000803F000000000000803F0400000100180044300010000000803F000000000000803F0400000100180046300010000000803F000000000000803F0400000100180053FF0100000000000000040000000400000028000000280000000000000000000000040000004344465305000000400000000081010000008101010000810102000001010300000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
